body {
    background-color: black;
    margin: 0px;
}

.mainContainer {
    display: flex;
}

.container {
    display: flex;
}

.focused {
    display: flex;
    height: 475px;
    width: 845px;
}

/* GENERIC STYLES */

/* DIV STYLES */
.column {
    display: flex;
    flex-direction: column;
}

/* INSIDE DIV SPACING STYLES */
.justifyContentCenter {
    justify-content: center;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.justifyContentSpaceEvenly {
    justify-content: space-evenly;
}

/* MARGIN STYLES  */
.mxAuto {
    margin: 0 auto;
}

.marginTop25 {
  margin-top: 25px;
}

.marginTop10 {
    margin-top: 10px;
}

/* SIZE STYLES */
.height225 {
    height: 225px;
}

.height250 {
    height: 250px;
}

.height320 {
  height: 300px;
}

.width260 {
  width: 260px;
}
